<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.3/css/foundation.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Rhyme Chasers</title>
</head>


<body ng-app="rhymes" ng-controller="FindARhyme" ng-style="{'background-color': eachBackground}">

<div ng-model="wordInputPanel" ng-style="{'display': noneIfSongIsStarting}">
  <div class="panel row">
   <div>Type in Words for Today's Show</div>
    <form class="words">
      <input ng-style="{'background-color': noneIfHideButtonPushed.a}" ng-model="word.a" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.b}" ng-model="word.b" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.c}" ng-model="word.c" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.d}" ng-model="word.d" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.e}" ng-model="word.e" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.f}" ng-model="word.f" ng-change="buttonCheck()" required/><br/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.g}" ng-model="word.g" ng-change="buttonCheck()" required/><br/>
      <button class="pickWords" ng-model="startButton" ng-style="{'background-color': isStartReady}" ng-click="startShow()">Start Show</button>
    </form>
  </div>

  <button id="hideButton" ng-click="hideWords()"><i  ng-class="eyeOpen"></i></button>
  <!--<button><i class="fa fa-eye-slash"></i></button>-->
</div>

<div class="topHalf">
<!--change this class name to something that makes more sense now that the words are also displayed-->
  <div ng-bind="countDownDisplay" class="countDownDisplay"></div>
  <div ng-bind="wordDisplay" class="wordDisplay" ng-style="{'font-size': dependsOnWordLength}"></div>
  <img ng-bind="logoDisplay" class="logoDisplay" ng-src={{showLogo}} ng-style="{'display': isNoneOrBlock}">
</div>

<div class="bottomHalf">
</div>



<script src="js/main.js"></script>
</body>
</html>