<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation-essential/5.5.3/css/foundation.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <title>Rhyme Chasers</title>
</head>


<body ng-app="rhymes" ng-controller="FindARhyme" ng-style="{'background-color': eachBackground}">

<div class="wordInputPanel" ng-model="wordInputPanel" ng-style="{'display': noneIfSongIsStarting}">

  <!--<div class="columns medium-12">-->
    <div class="startButton" ng-model="startButton" ng-style="{'background-color': isStartReady}">
      <img ng-click="startShow()" src="assets/danger-sign.png">
    </div>
  <!--</div>-->

  <form class="words">
    <div class="row">
      <div class="welcomePanel">Type in Words for Today's Show</div>
    </div>
    <div class="row">
      <input ng-style="{'background-color': noneIfHideButtonPushed.a}" ng-model="word.a" ng-change="buttonCheck()" class="medium-4 columns" required/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.b}" ng-model="word.b" ng-change="buttonCheck()" class="medium-4 columns" required/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.c}" ng-model="word.c" ng-change="buttonCheck()" class="medium-4 columns" required/>
    </div>
    <div class="row">
      <input ng-style="{'background-color': noneIfHideButtonPushed.d}" ng-model="word.d" ng-change="buttonCheck()" class="medium-6 columns" required/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.e}" ng-model="word.e" ng-change="buttonCheck()" class="medium-6 columns" required/>
    </div>
    <div class="row">
      <input ng-style="{'background-color': noneIfHideButtonPushed.f}" ng-model="word.f" ng-change="buttonCheck()" class="medium-6 columns" required/>
      <input ng-style="{'background-color': noneIfHideButtonPushed.g}" ng-model="word.g" ng-change="buttonCheck()" class="medium-6 columns" required/>
    </div>
    <div class="row">
      <button id="hideButton" ng-click="hideWords()" class="medium-12 columns"><i  ng-class="eyeOpen"></i></button>
    </div>
  </form>

</div>

<div class="displayPanels">
<!--change this class name to something that makes more sense now that the words are also displayed-->
  <div ng-bind="countDownDisplay" class="countDownDisplay"></div>
  <div ng-bind="wordDisplay" class="wordDisplay" ng-style="{'font-size': dependsOnWordLength}"></div>
  <img ng-bind="logoDisplay" class="logoDisplay" ng-src={{showLogo}} ng-style="{'display': isNoneOrBlock}">
</div>



<script src="js/main.js"></script>
</body>
</html>